body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: auto;
}

.alert {
    max-width: 600px;
    margin: 10px auto;
}