{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>{{ current_user.username.capitalize() }}'s Profile</h2>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Email: {{ current_user.email }}</h5>
            <p class="card-text">
                    <span>Weight:</span>
                    <span id="weight-label" class="d-inline">{{ current_user.weight }} kg</span>
                <form id="edit-weight-form" method="POST" action="{{ url_for('update_weight') }}">
                    {{ form.hidden_tag() }}
                    <!-- Modal - Hidden until toggled -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Weight</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <input type="number" name="weight" id="weight-input" class="form-control d-inline w-auto" value="{{ current_user.weight }}" placeholder="Enter new weight" required>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Weight
                </button>
            </p>
        </div>
    </div>

    <h3 style="margin-bottom: 30px;">Your Workouts</h3>
    {% if workouts %}
        <div class="row gx-2">
            {% for workout in workouts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-auto p-2">
                        <h5 class="card-header p-2">{{ workout.description }}</h5>
                        <div class="card-body p-2">
                            <p class="card-text">{{ workout.date.strftime('%d %B %Y') }}</p>
                            <p class="card-text">{{ workout.duration }} minutes</p>
                        </div>
                        <div class="card-footer p-2">
                            <p class="card-text"><strong>Calories Burned:</strong> {{ workout.calories | round(2) }} kcal</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock %}