{% extends 'base.html' %}
{% block content %}
<div class="container form-container" style="max-width: 500px;">
    <h2 class="container-header">Register</h2>

    <!-- welcome message -->
    <p class="welcome-text text-center">
        Join FitTrack and start achieving your fitness goals 🏃‍♂️💪
    </p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.weight.label(class="form-label") }}
            {{ form.weight(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>
</div>
{% endblock %}
