{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2 class="container-header">Share Workouts</h2>
    {% if workouts %}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="mb-4">
            <label class="form-label fw-bold">{{ form.username.label }}</label>
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-4">
            <label for="workout_id" class="form-label fw-bold">Select Workout</label>
            <select name="workout_id" class="form-control">
                {% for workout in workouts %}
                    <option value="{{ workout.id }}">
                        {{ workout.description }} on {{ workout.date.strftime('%d %B %Y') }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Share</button>
    </form>
    {% else %}
    <div class="alert alert-warning mt-4 text-center">
        You have no workouts to share.
    </div>
    {% endif %}
</div>
{% endblock %}
