{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 form-container">
    <h2 class="container-header">Workouts Shared With Me</h2>
    {% if workouts %}
        {% for item in workouts %}
            <div class="card mb-3 feed-card">
                <div class="card-header">
                    <span>{{ item.workout.date.strftime('%d %B %Y') }}</span>
                    <span class="float-end">Shared by: <strong>{{ item.sharing_username }}</strong></span>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-activity me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
                        </svg>
                        <h5 class="card-title mb-0">{{ item.workout.description }}</h5>
                    </div>
                    <p class="card-text" style="margin: 20px 0px 0px 10px">
                        <strong>Duration:</strong> {{ item.workout.duration }} mins
                        <strong>Calories:</strong> {{ item.workout.calories | round(1) }} kcal
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            No workouts have been shared with you yet.
        </div>
    {% endif %}
</div>
{% endblock %}