{% extends 'base.html' %}

{% block content %}
<div class="upload-section">
  <h2>Upload Workout</h2>
  <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
          {{ form.date.label }}
          {{ form.date(class="form-control", lang="en") }}
      </div>
      <div class="mb-3">
          {{ form.description.label }}
          {{ form.description(class="form-control") }}
      </div>
      <div class="mb-3">
          {{ form.activity.label }}
          {{ form.activity(class="form-control") }}
      </div>
      <div class="mb-3">
          {{ form.duration.label }}
          {{ form.duration(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-success") }}
  </form>
</div>

<div class="container mt-4">
  <div class="row justify-content-center gx-2 gy-2">
      {% for activity in activities %}
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card p-2 h-100">
          <h5 class="card-header">{{ activity.title }}</h5>
          <div class="card-body p-2">
              <p class="card-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                  <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                </svg>
                <strong>MET Range:</strong> {{ activity.met_range }}
              </p>
              <p class="card-text">{{ activity.examples }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
