{% extends 'base.html' %}

{% block content %}
<div class="upload-section">
  <h2>Upload Workout</h2>
  <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
          {{ form.date.label }}
          {{ form.date(class="form-control", lang="en") }}
      </div>
      <div class="mb-3">
          {{ form.description.label }}
          {{ form.description(class="form-control") }}
      </div>
      <div class="mb-3">
          {{ form.activity.label }}
          {{ form.activity(class="form-control") }}
      </div>
      <div class="mb-3">
          {{ form.duration.label }}
          {{ form.duration(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-success") }}
  </form>
</div>
{% endblock %}
